/* layout page */

body {
  color: white;
  background-color: #fcbe05;
}

.rxFooterLinks {
  color: #00485e;
  padding: 0px 20px 0px 20px;
}

#footerLinkRB {
  border-right: 0.5px solid #00485e;
}

.rxFooterLinks:hover {
  color: #00a88f;
}

#rxDisclaimer {
  color: #00485e;
}

/* all pages except home */

.returnHomeBtn {
  background-color: #00485e;
  color: white;
}

/* index page */

.rxJumbo {
  background-color: #00a88f;
}

#rxIcon {
  max-height: 100px;
}

.rxBlue {
  color: #00485e;
}

.rxGold {
  background-color: #fcbe05;
}

.rxGrey {
  background-color: #00a88f;
  /* background-image: url('./images/pills.jpg'); */
  background-size: cover;
  background-position: center;
  border-top: double 4px #00485e;
}

.mainWrap {
  /*border: double 4px #00485e;
  background-color: #e0e0e0;
  background-color: #b3e5fc;*/
}

.jBorder {
  border-bottom: solid 2px #00485e;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* New User Page */

#questIcon,
.rxHelp {
  font-size: 1.4rem;
  margin: 0px 3px 0px 3px;
  color: #00485e;
}

.form-row {
  margin-right: 0px;
  margin-left: 0px;
}

#rxHR {
  background-color: #fcbe05;
  height: 1px;
}

.rxInputDD {
  background-color: lightgray;
}

/* New Drug Page */

#drug1,
#drug2 {
  width: 90%;
}

/* Results Page */

.table {
  color: white;
}

/* 404 Error page */

.error-template {
  padding: 40px 15px;
  text-align: center;
  color: black;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}
